
.movie {
    display: flex;
    padding-top: 117px;
    flex-direction: row;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#sideM {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.movie-infos {
    gap: 20px;
    padding: 2% 4%;
    height: 100%;
    color: var(--color);
    font-size: 1.8rem;
}

.titleimg {
    padding: 5%;
    width: 100%;
    height: auto;
}

.bpanther {
    align-self: center;
    width: 70%;
}

.title {
    display: flex;
    align-items: baseline;
    gap: 20px;
}

.title h2 {
    padding: 0;
    margin: 0;
}

.summary {
    font-size: 1.6rem;
}

.data {
    display: flex;
    gap: 24px;
}

.btn-movie {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px;
    font-size: 2rem;
}

.btn-play,
.btn-watchlist {
    border: none;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 1.8rem;
    color: var(--color);
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-play {
    background: var(--dégradé);
}

.btn-watchlist {
    background: var(--placeholder);
}

.btn-play:hover,
.btn-watchlist:hover {
    transform: scale(1.05);
}
.player {
    padding-top: 6%;
    padding-left: 6.5%;
    width: 100%;
    height: 100%;
    background-color: black;
}

@media (orientation: portrait) and (max-width: 1024px) {
    #sideM {
        height: 100%;
        width: 100%;
        padding: 10%;
        background-color: rgba(0, 0, 0, 0.66);
        justify-content: flex-start;
        overflow-y: scroll;
    }
    .movie {
        padding-top: 10%;
        padding-bottom: 7vh;
        height: 100%;
    }
    .movie-infos {
        font-size: 2.2rem;
    }
    .summary {
        font-size: 2rem;
    }
    .btn {
        padding: 20px 45px;
        font-size: 2.4rem;
    }
    .btn-movie {
        flex-wrap: wrap;
    }
}

@media (orientation: portrait) and (max-width: 420px) {
    #sideM {
        height: 100%;
        width: 100%;
        padding: 10% 10% 0 10%;
        background-color: rgba(0, 0, 0, 0.66);
        justify-content: flex-start;
        overflow-y: scroll;
    }
    .movie {
        padding-top: 10vh;
        height: 100%;
    }
    .btn-movie {
        flex-wrap: wrap;
    }
}