.carrousel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 18%;
    position: relative;
    padding: 20px;
    width: 93.5vw;
    height: auto;
    background-size: cover;
    background-position-y: 20%;
    font-family: 'Inter', sans-serif;
    transition: 0.2s ease-out;
}

.notvisible {
    background-size: cover;
    background-position-y: 8%;
    transition: 0.4s ease-in;
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
}

.carrousel h3 {
    position: absolute;
    top: 8%;
    color: var(--color);
    font-weight: 600;
    font-size: 3.2rem;
    padding: 1%;
    font-family: 'Inter', sans-serif;
}

.carrousel p {
    color: var(--color);
    justify-self: center;
    width: 30%;
    position: absolute;
    top: calc( 50% - ( 182px / 2 ) );
    font-weight: 300;
    font-size: 1.8rem;
    padding: 1%;
    font-family: 'Inter', sans-serif;
}


.cta-home {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: calc( 50% - ( 240px / 2 ) );
    border: none;
    height: 64px;
    width: 240px;
    padding: 15px 40px;
    border-radius: 8px;
    font-size: 1.8rem;
    color: var(--color);
    cursor: pointer;
    transition: 0.2s ease;
    background: var(--dégradé);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.cta-home:hover {
    transform: scale(1.02);
}

.dots {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 4px;
}

.dots div {
    transition: 0.2s ease;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.333);
}

.selectedDot {
    background: var(--dégradé) !important;
}

.display {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    padding: 26px;
    gap: 15px;
    background: var(--bg);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.33); 
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.33);
}

.display h5 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--thumb);
}

.displayImg {
    display: flex;
    gap: 26px;
}

.displayImg img {
    border-radius: 12px;
    border: solid 4px transparent;
    background: var(--transparent);
    -webkit-box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.15); 
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.15);
}

.thumbNew {
    transition: 0.2s ease;
    width: 328px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.selectedNew {
    background: var(--dégradé) !important;
}

@keyframes load2 {
    from {
        width: 0%;
    }
  
    to {
        width: 100%;
    }
}

.visibleTimebar {
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--dégradé);
    z-index: 1;
    animation: load2 5s infinite ease-in-out;
}

@media (orientation: portrait) and (max-width: 1024px) {
    .carrousel {
        height: 45vh;
        background-position-y: 0%;
        width: 100vw;
    }
    .carrousel p {
        font-size: 2rem;
        width: 90%;
        top: calc( 50% - ( 110px / 2 ) );
    }
    .display h5 {
        font-size: 2.4rem;
        padding-left: 6%;
    }
    .displayImg {
        justify-content: center;
        flex-wrap: wrap;
        width: fit-content;
        padding-bottom: 7vh;
        z-index: 1;
    }
    .display {
        height: fit-content;
    }
}

@media (orientation: portrait) and (max-width: 600px) {
    .display h5 {
        font-size: 2rem;
        padding-left: 0;
    }
    .carrousel p {
        font-size: 1.4rem;
        width: 85%;
        top: calc( 50% - ( 110px / 2 ) );
    }
    .cta-home {
        left: 24px;
        width: 200px;
        height: 60px;
    }
}
