@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.contentHome {
    display: flex;
    padding-left: 6.5vw;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.homeCarroussel {
    flex-grow: 6;
}

@media screen and (orientation: landscape) and (max-width: 1440px) {
    .contentHome {
        display: flex;
        padding-left: 7vw;
        height: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}
@media screen and (orientation: portrait) and (max-width: 1024px) {
    .contentHome {
        padding-left: 0;
        padding-bottom: 7vh;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
}