.search {
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    z-index: 2;
    height: fit-content;
    max-height: 118px;
    background: var(--bg);
    box-shadow: 0px 4px 12px 0 var(--shadow);
    -moz-box-shadow: 0px 4px 12px 0 var(--shadow);
    -webkit-box-shadow: 0px 4px 12px 0 var(--shadow);
}
/* Categories */

.categories {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
}

.categories a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.8rem;
    color: var(--thumb);
    height: 100%;
    text-decoration: none;
}

.categories a:nth-child(1) {
    justify-content: flex-end;
}

.categories a:nth-child(3) {
    justify-content: flex-start;
}

.categories a:hover {
    font-weight: 600;
}

.selected {
    font-weight: 600;
    border-bottom: solid 2px var(--thumb);
}

/* Searchbar */

.searchbar {
    height: 100%;
    padding: 31px 0;
    display: flex;
    height: fit-content;
    flex-grow: 3;
}

.height {
    height: 100vh
}

.conteneur {
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    color: var(--placeholder);
    background-color: var(--form);
    background-clip: padding-box;
    /* box-shadow: 0px 4px 12px 0 var(--shadow);
    -moz-box-shadow: 0px 4px 12px 0 var(--shadow);
    -webkit-box-shadow: 0px 4px 12px 0 var(--shadow); */
}

.iconsvg {
    height: 16px;
    margin-top: calc((55px - 16px) / 2);
    margin-bottom: calc((55px - 16px) / 2);
    flex-grow: 1;
}

.search-icon {
    color: #9ca3af;
}

.micro-icon {
    border-left: solid 1px var(--placeholder);
    vertical-align: 0;
    cursor: pointer;
}

.left-pan {
    padding-left: 7px;
}

.form-input {
    border: solid 2px transparent;
    background: transparent;
    min-height: 55px;
    flex-grow: 10;
}

.form-input:focus {
    box-shadow: none;
    border: none;
    outline: none;
}

.form-input::placeholder {
    font-weight: 300;
    font-size: 1.5rem;
}

/* spacer */

.spacer {
    flex-grow: 3;
}

@media screen and (max-width: 1440px) {
    .search {
        height: 90px;
    }
}
@media screen and (max-width: 1366px) {
    .search {
        height: 80px;
    }
}


/* ---------- Gestion Tablette ---------- */


/* ---------- Gestion Smartphone ---------- */