@media (orientation: landscape) {
    .ligne {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        padding: 20px 0 20px 0;
        overflow: hidden;
    }

    .thumbnails {
        display: flex;
        position: relative;
        padding-left: 40px;
    }
    
    .slides {
        display: flex;
        gap: 44px;
        transition: 0.3s ease-in-out;
    }

    .btn-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        opacity: 0;
        top: 0;
        height: 100%;
        width: 100px;
        background: var(--dégradé);
        transition: 0.2s ease 0s;
        cursor: pointer;
        z-index: 1;
    }

    .btn-slide svg {
        fill: white;
        max-height: 56px;
    }

    .btn-slide:hover {
        opacity: 0.8;
    }

    .slide-right {
        right: 0;
    }

    .slide-left {
        left: 0;
    }    
}

@media (orientation: portrait) {

    .content {
        padding: 11vh 0 9vh 0;
    }

    .ligne {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 10px;
        padding: 20px 0 20px 0;
    }

    .thumbnails {
        display: flex;
        position: relative;
        padding: 4% 0;
        background-color: var(--menubg);
    }

    .slides {
        display: flex;
        gap: 16px;
        padding: 0 2%;
        transition: 0.25s ease-in-out;
        overflow-x: scroll;
    }
    .slides::-webkit-scrollbar {
        display: none;
    }

    .cardImg {
        width: 120px;
        height: auto;
    }

    .btn-slide {
        display: none;
    }   


    .slides a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .slides a:hover {
        transform: none;
    }

    .slides a h4 {
        font-size: 2rem;
    }
}